.container {
  justify-self: center;

  .titulo {
    color: white;
    text-shadow: 0 0 16px rgba(236,190,4,1);
    font-weight: 500;
  }
  
  .logo {
    width: min-content;
    justify-items: center;
  }
  
  .paperInicioDeSesion {
    padding: 1em;
    padding-top: 4em;
    padding-bottom: 7em;
    width: 400px;
    align-content: center;
    background-color: white;
    height: min-content;
  }
}