.contentContainer {
  display: flex;
  justify-content: space-between;
  margin-bottom: 0.5em;
}

.imagenProducto {
  height: 21em;
  width: 100%;
}

.cardContainer {
  width: 21em;
  min-width: 21em;
}

.imageContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  padding: 0;
}

.topButtonsContainer {
  position: absolute;
  top: 0;
  right: 0;
  padding: 0.2em;
  justify-self: end;
  text-align: right;
  width: 100%;
  background-color: rgba(#000000, 0.5);
}