.contentContainer {
  display: flex;
  justify-content: space-between;
  margin-bottom: 0.5em;
}

.imagenProducto {
  height: 20em;
  width: 20em;
}

.cardContainer {
  width: 20em;
  min-width: 20em;
}

.imageContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  padding: 0;
}

.topButtonsContainer {
  position: absolute;
  top: 0;
  right: 0;
  margin-right: 0.5em;
}